a {
  font-size: 28px !important;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  color: white !important;
}

.content {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 132px 0px;
  color: white !important;
  font-family: cursive;
}

@media (max-width: 576px) {
  .navbar-toggler {
    background-color: #feece2;
  }
  .navbar-collapse {
    margin: 67px -11px;
    top: 0;
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect */
    width: 100%;
    border-radius: 10px; /* Optional: Rounded corners for a nicer look */
  }
  
  a {
    color: black !important;
  }
  
  .navbar-nav{
    padding-left: 16px;
  }
 
}
