.App {
    background-image: url(../src/Assets/bbb.jpg);
    background-size: cover; /* Ensures the background image covers the whole element */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    height: 90vh; /* Sets the height to 100% of the viewport height */
    width: 100%; /* Sets the width to 100% of the viewport width */
    background-color: rgba(0, 0, 0, 0.5);
}
